[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django = "*"
django-simpleui = "*"
pillow = "*"
mysqlclient = "*"
pytz = "*"
setuptools = "*"
sqlparse = "*"
pip = "*"
wheel = "*"

[packages]
django = "*"
django-simpleui = "*"
pillow = "*"
mysqlclient = "*"
pytz = "*"
setuptools = "*"
sqlparse = "*"
pip = "*"
wheel = "*"

[requires]
python_version = "3.7"
