[[source]]
name = "douban"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
django = "*"
pillow = "*"
pytz = "*"
sqlparse = "*"
django-simpleui = "*"
pymysql = "*"
mysqlclient = "*"

[packages]
django = "*"
pillow = "*"
pytz = "*"
sqlparse = "*"
django-simpleui = "*"
pymysql = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
