{% extends "chinslicking/layout.html" %}
{% load staticfiles %}

{% block header %}
    {% include "chinslicking/header.html" with title="关于我们" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<!--<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            &lt;!&ndash;<div class="slide-btn">
                                <a href="#" class="button">Learn More</a>
                                <a href="#" class="button-2">Live Preview</a>
                            </div>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}

{% block content %}
<!--<div class="service-area bg2 sp">
    <div class="container">
        <div class="section-title">
            <h2>关于我们</h2>
            <p>&mdash;&mdash;&mdash;&mdash; ABOUT &mdash;&mdash;&mdash;&mdash;</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner text-center">
                    <div class="title">
                        <h2>2015年</h2>
                    </div>
                    <div class="content">
                        <p>公司正式成立</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner text-center">
                    <div class="title">
                        <h2>FDA</h2>
                    </div>
                    <div class="content">
                        <p>注册认证</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner text-center">
                    <div class="title">
                        <h2>3个</h2>
                    </div>
                    <div class="content">
                        <p>系列产品</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 single-service">
                <div class="">
                    <img src="{% static 'images/portfolio1.jpg' %}" alt="portfolio-image">
                </div>
            </div>
            <div class="col-lg-9 col-md-6 single-service">
                <div class="inner">
                    <div class="content">
                        <p>
                            西安秦食皇食品有限公司是一家集研发、生产、销售“秦食皇”品牌产品及陕西当地优质农副产品的食品公司。“秦食皇”——华夏传统美食的国际级复刻者，诞生于2015年，是在国家工商总局注册，通过国家版权局认证的民族品牌，并于2017年向全球72个国家递交了商标国际注册，使其日趋成为国际化品牌。“秦食皇”致力于打造营养、健康的全素食品。
      陕西拥抱着素称——华夏文明龙脉的秦岭，这里一山四季、物产丰富，蕴藏着许多植物资源。由国内知名植物科研专家组成的“秦食皇”产品研发中心，致力于发掘陕西特有植物的科学提取和运用。“秦食皇”以秦岭山脉生长的各种植物为原料，利用高科技植物提取技术，结合陕西传统民俗食品的配方，通过现代化设备无菌生产，精心推出新理念的全素健康食品。从原料到生产，严格把控每一个环节，确保所有的食材绿色、健康、安全且符合国际标准；满足消费者对优质生活的要求，做让老百姓“送的安心、吃的放心”产品。
      基于新丝路这趟经济动车，“秦食皇”希望把中国农副产品和民间特色美食，以品牌的形式展示到境外华人的视野。我们希望通过境内外宣传与销售通道，改变世人对中国食品的传统认知，实现“一口国土味，入胃解乡愁”夙愿的同时，更致力于把“秦食皇”打造成可以代表中国特色食品的名片。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="service-area sp">
    <div class="container">
        <div class="section-title" data-margin="0 0 40px">
            <h2>关于我们</h2>
            <p>&mdash;&mdash;&mdash;&mdash; ABOUT &mdash;&mdash;&mdash;&mdash;</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single-service-2">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-object-align-bottom"></i>
                        </div>
                        <h1>2015年</h1>
                    </div>
                    <div class="content">
                        <p>公司正式成立</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service-2">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-tags"></i>
                        </div>
                        <h1>FDA</h1>
                    </div>
                    <div class="content">
                        <p>注册认证</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service-2">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-stats"></i>
                        </div>
                        <h1>3个</h1>
                    </div>
                    <div class="content">
                        <p>系列产品</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single-service-2">
                <div class="">
                    <img src="{% static 'chinslicking/images/company.jpg' %}" alt="portfolio-image">
                </div>
            </div>
            <div class="col-lg-8 col-md-6 single-service-2">
                <div class="content">
                    <p style="text-indent: 2em;">
                        西安秦食皇食品有限公司是一家集研发、生产、销售“秦食皇”品牌产品及陕西当地优质农副产品的食品公司。“秦食皇”——华夏传统美食的国际级复刻者，诞生于2015年，是在国家工商总局注册，通过国家版权局认证的民族品牌，并于2017年向全球72个国家递交了商标国际注册，使其日趋成为国际化品牌。“秦食皇”致力于打造营养、健康的全素食品。陕西拥抱着素称——华夏文明龙脉的秦岭，这里一山四季、物产丰富，蕴藏着许多植物资源。由国内知名植物科研专家组成的“秦食皇”产品研发中心，致力于发掘陕西特有植物的科学提取和运用。“秦食皇”以秦岭山脉生长的各种植物为原料，利用高科技植物提取技术，结合陕西传统民俗食品的配方，通过现代化设备无菌生产，精心推出新理念的全素健康食品。从原料到生产，严格把控每一个环节，确保所有的食材绿色、健康、安全且符合国际标准；满足消费者对优质生活的要求，做让老百姓“送的安心、吃的放心”产品。基于新丝路这趟经济动车，“秦食皇”希望把中国农副产品和民间特色美食，以品牌的形式展示到境外华人的视野。我们希望通过境内外宣传与销售通道，改变世人对中国食品的传统认知，实现“一口国土味，入胃解乡愁”夙愿的同时，更致力于把“秦食皇”打造成可以代表中国特色食品的名片。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-area sp bg2">
    <div class="container">
        <div class="section-title">
            <h2>发展历程</h2>
            <p>&mdash;&mdash;&mdash;&mdash; DEVELOPMENT HISTORY &mdash;&mdash;&mdash;&mdash;</p>
        </div>
        <div class="row spb">
            <div class="col-md-6">
                <div class="faq-img text-center">
                    <img src="{% static 'chinslicking/images/comp_1.jpg' %}" alt="faq">
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq" style="border-left: 1px solid #fbdf51;">
                    <div class="single-item">
                        <h4>2019-05&nbsp;&nbsp;&nbsp;&nbsp;热烈祝贺春和方认证通过FDA</h4>
                        <div class="content">
                            热烈祝贺春和方认证通过FDA
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>2019-03&nbsp;&nbsp;&nbsp;&nbsp;和百度签订战略合作协议</h4>
                        <div class="content">
                            和百度签订战略合作协议
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spb">
            <div class="col-md-6">
                <div class="faq" style="border-right: 1px solid #fbdf51;">
                    <div class="single-item">
                        <h4>2018-10&nbsp;&nbsp;&nbsp;&nbsp;热烈祝贺春和方认证通过FDA</h4>
                        <div class="content">
                            热烈祝贺春和方认证通过FDA
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>2018-05&nbsp;&nbsp;&nbsp;&nbsp;和百度签订战略合作协议</h4>
                        <div class="content">
                            和百度签订战略合作协议
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>2018-01&nbsp;&nbsp;&nbsp;&nbsp;和百度签订战略合作协议</h4>
                        <div class="content">
                            和百度签订战略合作协议
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq-img text-center">
                    <img src="{% static 'chinslicking/images/comp_2.jpg' %}" alt="faq">
                </div>
            </div>
        </div>
        <div class="row spb">
            <div class="col-md-6">
                <div class="faq-img text-center">
                    <img src="{% static 'chinslicking/images/comp_1.jpg' %}" alt="faq">
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq" style="border-left: 1px solid #fbdf51;">
                    <div class="single-item">
                        <h4>2017-07&nbsp;&nbsp;&nbsp;&nbsp;热烈祝贺春和方认证通过FDA</h4>
                        <div class="content">
                            热烈祝贺春和方认证通过FDA
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spb">
            <div class="col-md-6">
                <div class="faq" style="border-right: 1px solid #fbdf51;">
                    <div class="single-item">
                        <h4>2016-10&nbsp;&nbsp;&nbsp;&nbsp;热烈祝贺春和方认证通过FDA</h4>
                        <div class="content">
                            热烈祝贺春和方认证通过FDA
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>2016-05&nbsp;&nbsp;&nbsp;&nbsp;和百度签订战略合作协议</h4>
                        <div class="content">
                            和百度签订战略合作协议
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>2016-01&nbsp;&nbsp;&nbsp;&nbsp;和百度签订战略合作协议</h4>
                        <div class="content">
                            和百度签订战略合作协议
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>2016-01&nbsp;&nbsp;&nbsp;&nbsp;和百度签订战略合作协议</h4>
                        <div class="content">
                            和百度签订战略合作协议
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq-img text-center">
                    <img src="{% static 'chinslicking/images/comp_2.jpg' %}" alt="faq">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
