{% extends "chinslicking/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
    {% include "chinslicking/header.html" with title="联系我们" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<!--<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            &lt;!&ndash;<div class="slide-btn">
                                <a href="#" class="button">Learn More</a>
                                <a href="#" class="button-2">Live Preview</a>
                            </div>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="page-title sp" style="background-image: url({% static 'chinslicking/images/banner_5.jpg' %});height: 300px;">
    <div class="container text-center">
        <h3 class="banner-h3">
            CONTACT US
        </h3>
        <h4 class="banner-h4">
            <hr class="hr-1">
            <span>联系我们</span>
            <hr class="hr-1">
        </h4>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="service-area sp">
    <div class="container">
        <div class="section-title">
            <h2>{% trans "联系我们" %}</h2>
            <div class="sub-title">
                <hr class="hr-2">
                <span>CONTACT</span>
                <hr class="hr-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner" style="background-color: #fde981;">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-earphone"></i>
                        </div>
                        <h4>{% trans "电话" %}</h4>
                    </div>
                    <div class="content">
                        <h3>029-8918 9518</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner" style="background-color: #fde981;">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        <h4>{% trans "邮箱" %}</h4>
                    </div>
                    <div class="content">
                        <h3>Johndarphy@xachf.com</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner" style="background-color: #fde981;">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </div>
                        <h4>{% trans "地址" %}</h4>
                    </div>
                    <div class="content">
                        <h3>{% trans "西安市高新区丈八二路31号" %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery-area sp bg2">
    <div class="container">
        <div class="section-title" data-margin="0 0 40px">
            <h2>{% trans "公司地址" %}</h2>
            <div class="sub-title">
                <hr class="hr-2">
                <span>COMPANY ADDRESS</span>
                <hr class="hr-2">
            </div>
            <div>{% trans "如果，您是亲临秦食皇，有以下交通方式可供选择" %}：</div>
            <div>{% trans "乘坐公交：251路、107路、高新2号线都可到达，自驾车：参考地图标示行驶高新六路，科技四路，团结南路前往双水磨公交站均可到达。" %}</div>
        </div>
        <div class="row">
            <div class="col-md-12 single-gallery">
                <div class="inner">
                    <!--<img src="{% static 'chinslicking/images/gallery-1.jpg' %}" alt="">-->
                    <div id="map-container" style="width: 100%; height: 600px; border: 3px solid #fde981; border-radius: 10px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=02ab55357c0d803a0cb144049c8ae5d2"></script>
    <script>
        $(function(){
            var map = new AMap.Map('map-container');
        });
    </script>
    {% endblock %}
{% endblock %}
