{% extends "chinslicking/layout.html" %}
{% load staticfiles %}

{% block header %}
    {% include "chinslicking/header.html" with title="联系我们" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            <!--<div class="slide-btn">
                                <a href="#" class="button">Learn More</a>
                                <a href="#" class="button-2">Live Preview</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="service-area sp">
    <div class="container">
        <div class="section-title">
            <h2>联系我们</h2>
            <p>&mdash;&mdash;&mdash;&mdash; CONTACT &mdash;&mdash;&mdash;&mdash;</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-earphone"></i>
                        </div>
                        <h4>电话</h4>
                    </div>
                    <div class="content">
                        <h3>029-7518 9518</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        <h4>邮箱</h4>
                    </div>
                    <div class="content">
                        <h3>Johndarphy@xachf.com</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single-service">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </div>
                        <h4>地址</h4>
                    </div>
                    <div class="content">
                        <h3>西安市高新区丈八二路31号</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery-area sp bg2">
    <div class="container">
        <div class="section-title" data-margin="0 0 40px">
            <h2>公司地址</h2>
            <p>&mdash;&mdash;&mdash;&mdash; COMPANY ADDRESS &mdash;&mdash;&mdash;&mdash;</p>
            <div>如果，您是亲临秦食皇，有以下交通方式可供选择：</div>
            <div>乘坐公交：251路、107路、高新2号线都可到达，自驾车：参考地图标示行驶高新六路，科技四路，团结南路前往双水磨公交站均可到达。</div>
        </div>
        <div class="row">
            <div class="col-md-12 single-gallery">
                <div class="inner">
                    <img src="{% static 'chinslicking/images/gallery-1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
