{% load staticfiles %}

<!--底部div-->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 footer_widget">
                    <div class="inner">
                        <img src="{% static 'chinslicking/images/logo_bottom.jpg' %}" style="width:270px;">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 footer_widget">
                    <div class="inner">
                        <h4>西安秦食皇食品有限公司</h4>
                        <ul>
                            <li>
                                <span>邮箱：</span>
                                <span>Johndarphy@xachf.com</span>
                            </li>
                            <li>
                                <span>地址：</span>
                                <span>西安市高新区丈八二路31号</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 footer_widget">
                    <div class="inner">
                        <div class="media">
                            <img src="{% static 'chinslicking/images/recent1.jpg' %}" class="d-flex mr-3 pull-left" alt="">
                            <div class="pull-left">
                                <h4 style="color: #aae251">CONTACT</h4>
                                <p>商务合作</p>
                                <h4>029-8918 9518</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-txt">
                        陕ICP备 18009909号 Copyright2020 西安秦食皇食品有限公司 版权所有
                    </div>
                </div>
                <!--<div class="col-lg-6 text-right">
                    <div class="footer-nav">
                        <a href="#">Home</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Pages</a>
                        <a href="#">Shortcode</a>
                        <a href="#">Blog</a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</footer>
</div>

<script src="{% static 'chinslicking/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'chinslicking/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'chinslicking/plugins/layui/layui.all.js' %}"></script>

<script src="{% static 'chinslicking/js/vendor/popper.min.js' %}"></script>
<!--<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>-->
<script src="{% static 'chinslicking/js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'chinslicking/js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'chinslicking/js/vendor/jquery.barfiller.js' %}"></script>
<script src="{% static 'chinslicking/js/vendor/loopcounter.js' %}"></script>
<script src="{% static 'chinslicking/js/vendor/slicknav.min.js' %}"></script>
<script src="{% static 'chinslicking/js/active.js' %}"></script>

<script>
    $(function(){
        //公共初始化
        <!--alert('I am footer.html页面的js');-->
        //$('#menu').on('click', 'ul li', function(){
            //移除所有li上的class=current-menu-item的样式
            //$('#menu').find('ul').find('li').each(function(){
            //    $(this).removeClass('current-menu-item');
            //});

            //$(this).addClass('current-menu-item');
        //});

        //移除所有li上的class=current-menu-item的样式
        //$('#menu').find('ul').find('li').each(function(){
        //    $(this).removeClass('current-menu-item');
        //    console.log(123);
        //});

        $('#menu').find('ul').find('li:eq({{index}})').addClass('current-menu-item');
    });
</script>

{% block script_tag %}
{% endblock %}

</body>
</html>