{% extends "chinslicking/layout-index.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
    {% include "chinslicking/header-index.html" with title="首页" %}
    {% block style_tag %}
    <style>
    body{
        color: red;
    }
    </style>
    {% endblock %}
{% endblock %}


{% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3 logo-column">
                <a href="/king/index" class="logo">
                    <img src="{% static 'chinslicking/images/logo_nav.png' %}" alt="logo">
                </a>
            </div>
            <div class="col-6 col-sm-9 nav-column clearfix">
                <div class="right-nav">
                    <!--<span class="search-icon fa fa-search"></span>-->
                    <!--<form action="#" class="search-form">
                        <input type="search" placeholder="search now">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>-->

                    <form action="/i18n/setlang/" method="post" id="change_language_form" class="language-form">
                        {% csrf_token %}
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_current_language_bidi as LANGUAGE_BIDI %}
                        <select class="change_language selectpicker" name="language" id="language" title="选择语言">
                            <!--<option value="{{LANGUAGE_CODE}}">{{LANGUAGE_CODE}}</option>-->
                            {% for lang in LANGUAGES %}
                                <!--{% ifequal lang.0 current_language %} selected {% endifequal %}-->
                                <option value="{{ lang.0|lower }}" {% ifequal lang.0 LANGUAGE_CODE %} selected {% endifequal %}>
                                    {{ lang.1|lower }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                    <!--<div class="header-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>-->
                </div>
                <nav id="menu" class="d-none d-lg-block">
                    <ul>
                        <li><a href="/king/index">{% trans "首页" %}</a></li>
                        <li><a href="/king/about">{% trans "关于我们" %}</a></li>
                        <li><a href="/king/product_list">{% trans "品牌产品" %}</a></li>
                        <li><a href="/king/partner">{% trans "品牌合作" %}</a></li>
                        <li><a href="/king/resp_list">{% trans "社会责任" %}</a></li>
                        <li><a href="/king/news_list">{% trans "新闻资讯" %}</a></li>
                        <li><a href="/king/job_list">{% trans "工作机会" %}</a></li>
                        <li><a href="/king/contact">{% trans "联系秦食皇" %}</a></li>
                        <!--<li class="has-child">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="404.html">404</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="career.html">Career</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="portfolio-area sp bg4">
    <div class="container-fluid pdlr-150">
        <!--<div class="section-title">
            <h2>美食美味</h2>
            <p style="color:#000;">享美食更享艺术，美食即艺术。</p>
        </div>-->

        <div class="row">
            <div class="col-md-3">
                <div class="inner">
                    <div class="outer">
                        <div class="front">
                            <div class="front-content">
                                <!--<span class="icon" style="font-size: 50px;">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/company.png' %}">
                                <hr>
                                <h2>{% trans "公司简介" %}</h2>
                            </div>
                            <img src="{% static 'chinslicking/images/index_1.png' %}" alt="portfolio-image">
                        </div>
                        <div class="back">
                            <img src="{% static 'chinslicking/images/index_1.png' %}" alt="portfolio-image">
                            <div class="back-content">
                                <!--<span class="icon">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/company.png' %}">
                                <hr>
                                <h2><a href="/king/about">{% trans "公司简介" %}</a></h2>
                                <a href="/king/about">
                                    <div style="">
                                        <span style="color:#fff;">{% trans "公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介" %}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="portfolio-content">
                        <a href="#"><h3>蓝莓山药</h3></a>
                        <span>Ceramics, Design</span>
                    </div>-->
                </div>
            </div>

            <div class="col-md-3">
                <div class="inner">

                    <div class="outer">
                        <div class="front">
                            <div class="front-content">
                                <!--<span class="icon">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/product.png' %}">
                                <hr>
                                <h2>{% trans "品牌产品" %}</h2>
                            </div>
                            <img src="{% static 'chinslicking/images/index_2.png' %}" alt="portfolio-image">
                        </div>
                        <div class="back">
                            <img src="{% static 'chinslicking/images/index_2.png' %}" alt="portfolio-image">
                            <div class="back-content">
                                <!--<span class="icon">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/product.png' %}">
                                <hr>
                                <h2><a href="/king/product_list">{% trans "品牌产品" %}</a></h2>
                                <a href="/king/product_list">
                                    <div style="">
                                        <span style="color:#fff;">{% trans "公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介" %}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="inner">

                    <div class="outer">
                        <div class="front">
                            <div class="front-content">
                                <!--<span class="icon">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/partner.png' %}">
                                <hr>
                                <h2>{% trans "招商合作" %}</h2>
                            </div>
                            <img src="{% static 'chinslicking/images/index_3.png' %}" alt="portfolio-image">
                        </div>
                        <div class="back">
                            <img src="{% static 'chinslicking/images/index_3.png' %}" alt="portfolio-image">
                            <div class="back-content">
                                <!--<span class="icon">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/partner.png' %}">
                                <hr>
                                <h2><a href="/king/partner">{% trans "招商合作" %}</a></h2>
                                <a href="/king/partner">
                                    <div style="">
                                        <span style="color:#fff;">{% trans "公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介" %}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="inner">

                    <div class="outer">
                        <div class="front">
                            <div class="front-content">
                                <!--<span class="icon">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/news.png' %}">
                                <hr>
                                <h2>{% trans "新闻中心" %}</h2>
                            </div>
                            <img src="{% static 'chinslicking/images/index_4.png' %}" alt="portfolio-image">
                        </div>
                        <div class="back">
                            <img src="{% static 'chinslicking/images/index_4.png' %}" alt="portfolio-image">
                            <div class="back-content">
                                <!--<span class="icon">
                                    <i class="glyphicon glyphicon-object-align-bottom"></i>
                                </span>-->
                                <img src="{% static 'chinslicking/images/news.png' %}">
                                <hr>
                                <h2><a href="/king/news_list">{% trans "新闻中心" %}</a></h2>
                                <a href="/king/news_list">
                                    <div style="">
                                        <span style="color:#fff;">{% trans "公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介" %}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--<div class="single-portfolio col-md-3 pdlr-2">
                <div class="inner">
                    <div class="portfolio-img portfolio-img-height">
                        <img src="{% static 'chinslicking/images/index_2.png' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>品牌产品</div>
                            <div style="padding: 15px;">
                                <a href="/king/product_list">
                                    公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-3 pdlr-2">
                <div class="inner">
                    <div class="portfolio-img portfolio-img-height">
                        <img src="{% static 'chinslicking/images/index_3.png' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>品牌合作</div>
                            <div style="padding: 15px;">
                                <a href="/king/partner">
                                    公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-3 pdlr-2">
                <div class="inner">
                    <div class="portfolio-img portfolio-img-height">
                        <img src="{% static 'chinslicking/images/index_4.png' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>新闻资讯</div>
                            <div style="padding: 15px;">
                                <a href="/king/news_list">
                                    公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <!--<div class="row">
            <div class="col-12 text-center" data-margin="40px 0 0">
                <a href="#" class="button">More Works</a>
            </div>
        </div>-->
    </div>
</div>

<!--<div class="pricing-area sp bg2">
    <div class="container">
        <div class="section-title">
            <h2>See our Pricings</h2>
            <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 single-pricing-2">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 single-pricing-2 active">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 single-pricing-2">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 single-pricing-2">
                <div class="inner">
                   <div class="title">
                        <h2>Free</h2>
                        <div class="price">
                            <span>$29</span>
                            <span>2 month</span>
                        </div>
                   </div>
                   <ul>
                       <li>5GB Storage</li>
                        <li>1GB RAM</li>
                        <li>400GB Bandwidth</li>
                        <li>10 Email Address</li>
                        <li>Forum Support</li>
                   </ul>
                   <a href="#" class="button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
            <!--alert("我是index.html的js");-->
        });
    </script>
    {% endblock %}
{% endblock %}