{% extends "chinslicking/layout.html" %}
{% load staticfiles %}

{% block header %}
    {% include "chinslicking/header.html" with title="工作机会" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<!--<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            &lt;!&ndash;<div class="slide-btn">
                                <a href="#" class="button">Learn More</a>
                                <a href="#" class="button-2">Live Preview</a>
                            </div>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}

{% block content %}
<div class="faq-area sp bg2">
    <div class="container">
        <div class="section-title">
            <h2>招贤纳士</h2>
            <p>&mdash;&mdash;&mdash;&mdash; 我们期待您的加入 &mdash;&mdash;&mdash;&mdash;</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="faq">
                    <div class="single-item">
                        <h4>
                            <div><b>在线客服</b>&nbsp;&nbsp;&nbsp;&nbsp;<span>经验1-3年/本科/全职</span></div>
                        </h4>
                        <div class="content">
                            <h4>岗位职责</h4>
                            <div>
                                1、负责字节跳动沟通系统研发，包括但不限于即时通讯(IM)工具；<br>
                                2、负责效率工具的后台开发工作，具体包括需求分析、文档撰写、设计编码、测试运维、效果追踪等工作；<br>
                                3、负责高质量的设计和编码；承担重点、难点的技术攻坚；<br>
                                4、参与产品讨论和开发实现。<br>
                                5、主要语言为Python/Golang。<br>
                            </div>
                        </div>
                        <div class="content">
                            <h4>任职要求</h4>
                            <div>
                                1、良好的设计和编码品味，热爱写代码；<br>
                                2、较好的产品意识，愿意将产品效果做为工作最重要的驱动因素；<br>
                                3、掌握WEB后端开发技术: 协议、架构、存储、缓存、安全等；<br>
                                4、积极乐观，认真负责，乐于协作。<br>
                            </div>
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>
                            <div><b>在线客服</b>&nbsp;&nbsp;&nbsp;&nbsp;<span>经验1-3年/本科/全职</span></div>
                        </h4>
                        <div class="content">
                            <h4>岗位职责</h4>
                            <div>
                                1、负责字节跳动沟通系统研发，包括但不限于即时通讯(IM)工具；<br>
                                2、负责效率工具的后台开发工作，具体包括需求分析、文档撰写、设计编码、测试运维、效果追踪等工作；<br>
                                3、负责高质量的设计和编码；承担重点、难点的技术攻坚；<br>
                                4、参与产品讨论和开发实现。<br>
                                5、主要语言为Python/Golang。<br>
                            </div>
                        </div>
                        <div class="content">
                            <h4>任职要求</h4>
                            <div>
                                1、良好的设计和编码品味，热爱写代码；<br>
                                2、较好的产品意识，愿意将产品效果做为工作最重要的驱动因素；<br>
                                3、掌握WEB后端开发技术: 协议、架构、存储、缓存、安全等；<br>
                                4、积极乐观，认真负责，乐于协作。<br>
                            </div>
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>
                            <div><b>在线客服</b>&nbsp;&nbsp;&nbsp;&nbsp;<span>经验1-3年/本科/全职</span></div>
                        </h4>
                        <div class="content">
                            <h4>岗位职责</h4>
                            <div>
                                1、负责字节跳动沟通系统研发，包括但不限于即时通讯(IM)工具；<br>
                                2、负责效率工具的后台开发工作，具体包括需求分析、文档撰写、设计编码、测试运维、效果追踪等工作；<br>
                                3、负责高质量的设计和编码；承担重点、难点的技术攻坚；<br>
                                4、参与产品讨论和开发实现。<br>
                                5、主要语言为Python/Golang。<br>
                            </div>
                        </div>
                        <div class="content">
                            <h4>任职要求</h4>
                            <div>
                                1、良好的设计和编码品味，热爱写代码；<br>
                                2、较好的产品意识，愿意将产品效果做为工作最重要的驱动因素；<br>
                                3、掌握WEB后端开发技术: 协议、架构、存储、缓存、安全等；<br>
                                4、积极乐观，认真负责，乐于协作。<br>
                            </div>
                        </div>
                    </div>
                    <div class="single-item">
                        <h4>
                            <div><b>在线客服</b>&nbsp;&nbsp;&nbsp;&nbsp;<span>经验1-3年/本科/全职</span></div>
                        </h4>
                        <div class="content">
                            <h4>岗位职责</h4>
                            <div>
                                1、负责字节跳动沟通系统研发，包括但不限于即时通讯(IM)工具；<br>
                                2、负责效率工具的后台开发工作，具体包括需求分析、文档撰写、设计编码、测试运维、效果追踪等工作；<br>
                                3、负责高质量的设计和编码；承担重点、难点的技术攻坚；<br>
                                4、参与产品讨论和开发实现。<br>
                                5、主要语言为Python/Golang。<br>
                            </div>
                        </div>
                        <div class="content">
                            <h4>任职要求</h4>
                            <div>
                                1、良好的设计和编码品味，热爱写代码；<br>
                                2、较好的产品意识，愿意将产品效果做为工作最重要的驱动因素；<br>
                                3、掌握WEB后端开发技术: 协议、架构、存储、缓存、安全等；<br>
                                4、积极乐观，认真负责，乐于协作。<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6">
                <div class="faq-img text-center">
                    <img src="{% static 'images/fag-img.png' %}" alt="faq">
                </div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
