{% extends "chinslicking/layout.html" %}
{% load staticfiles %}
{% load my_filter_tag %}

{% block header %}
    {% include "chinslicking/header.html" with title="工作机会" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<!--<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            &lt;!&ndash;<div class="slide-btn">
                                <a href="#" class="button">Learn More</a>
                                <a href="#" class="button-2">Live Preview</a>
                            </div>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}

{% block content %}
<div class="faq-area sp bg2">
    <div class="container">
        <div class="section-title">
            <h2>招贤纳士</h2>
            <p>&mdash;&mdash;&mdash;&mdash; 我们期待您的加入 &mdash;&mdash;&mdash;&mdash;</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="faq">
                    {% for item in job_list %}
                    <div class="single-item">
                        <h4>
                            <div><b>{{item.job_name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;<span>经验{{item.work_year}}/{{item|displayName:'education'}}/{{item|displayName:'work_prop'}}</span></div>
                        </h4>
                        <div class="content">
                            <h4>岗位职责</h4>
                            <div>
                                {{item.job_require|safe}}
                            </div>
                        </div>
                        <div class="content">
                            <h4>任职要求</h4>
                            <div>
                                {{item.skill_require|safe}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!--<div class="col-md-6">
                <div class="faq-img text-center">
                    <img src="{% static 'images/fag-img.png' %}" alt="faq">
                </div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
