{% extends "chinslicking/layout.html" %}
{% load staticfiles %}

{% block header %}
    {% include "chinslicking/header.html" with title="新闻资讯详情" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<!--<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            &lt;!&ndash;<div class="slide-btn">
                                <a href="#" class="button">Learn More</a>
                                <a href="#" class="button-2">Live Preview</a>
                            </div>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}

{% block content %}
<div class="faq-area-2 sp bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="single-faq">
                    <h2><span>1</span>{{ news.title }}</h2>
                    <div>
                        <span class="icon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                        <span>时间：{{ news.create_time }}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="icon">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </span>
                        <span>浏览：{{ news.read_count }}</span>
                    </div>
                    <hr>
                    <div style="text-indent:2em;">{{ news.content|safe }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="faq-sidebar-wrap">
                    <h3>Index</h3>
                    <ul class="faq-sidebar">
                        {% for item in news_lasted %}
                        <li><a href="/king/news_detail/{{item.id}}"><span>{{ forloop.counter }}.</span>&nbsp;{{item.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
