{% extends "chinslicking/layout.html" %}
{% load staticfiles %}

{% block header %}
    {% include "chinslicking/header.html" with title="品牌产品" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<div class="hero-slider">
    <div class="single-slide" style="background-image: url({% static 'images/slide1.jpg' %})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>做美食，品美食，享美食我们更专业</h2>
                            <p>Do food, taste food, enjoy food we more professional.</p>
                            <!--<div class="slide-btn">
                                <a href="#" class="button">更多产品</a>
                                <a href="#" class="button-2">学习</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="portfolio-area sp bg2">
    <div class="container">
        <div class="section-title">
            <h2>秦食皇系列</h2>
            <p>&mdash;&mdash;&mdash;&mdash; 一口国土味，入胃解乡愁 &mdash;&mdash;&mdash;&mdash;</p>
        </div>
        <div class="row">
            <ul class="isotope-menu">
                <li data-filter="*" class="active">全部</li>
                <li data-filter=".ceramics">青春芽酱</li>
                <li data-filter=".branding">怀旧零嘴</li>
                <li data-filter=".design">养生素食</li>
                <li data-filter=".photography">礼盒包装</li>
            </ul>
        </div>
        <div class="row portfolio-isotope">
            <div class="single-portfolio col-md-4 branding photography design">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'chinslicking/images/portfolio1.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="/king/product_detail/1" class="button">查看详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4 ceramics design photography">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'chinslicking/images/portfolio2.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="/king/product_detail/2" class="button">查看详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4 ceramics branding ceramics">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'chinslicking/images/portfolio3.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="/king/product_detail/3" class="button">查看详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4 design photography">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'chinslicking/images/portfolio4.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="/king/product_detail/4" class="button">查看详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4 ceramics photography branding">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'chinslicking/images/portfolio5.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="/king/product_detail/5" class="button">查看详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4 branding design">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'chinslicking/images/portfolio6.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="/king/product_detail/6" class="button">查看详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'images/portfolio1.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="#" class="button">View Case Study</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'images/portfolio2.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="#" class="button">View Case Study</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'images/portfolio3.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="#" class="button">View Case Study</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'images/portfolio4.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="#" class="button">View Case Study</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'images/portfolio5.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="#" class="button">View Case Study</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{% static 'images/portfolio6.jpg' %}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="#" class="button">View Case Study</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="#"><h3>The Back Chiropractor</h3></a>
                        <span>Ceramics, Design</span>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-12 text-center" data-margin="40px 0 0">
                <!--<a href="#" class="button">More Works</a>-->
                <div>分页</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block footer %}
    {% include "chinslicking/footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
