{% load staticfiles %}

<!--底部div-->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 footer_widget">
                    <div class="inner">
                        <h4>About</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, antesenectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 footer_widget">
                    <div class="inner">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="#">Company Overview</a></li>
                            <li><a href="#">Meet The Team</a></li>
                            <li><a href="#">Our Awesome Partners</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 footer_widget">
                    <div class="inner">
                        <h4>Recent Posts</h4>
                        <div class="media">
                            <a href="#">
                                <img src="{% static 'images/recent1.jpg' %}" class="d-flex mr-3" alt="">
                            </a>
                            <div class="media-body">
                                <h5>
                                    <a href="#">Curling irons are as individual as the women</a>
                                </h5>
                                <span>June 22, 2019</span>
                            </div>
                        </div>
                        <!--<div class="media">
                            <a href="#">
                                <img src="{% static 'images/recent2.jpg' %}" class="d-flex mr-3" alt="">
                            </a>
                            <div class="media-body">
                                <h5>
                                    <a href="#">Curling irons are as individual as the women</a>
                                </h5>
                                <span>June 22, 2019</span>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="{% static 'images/recent3.jpg' %}" class="d-flex mr-3" alt="">
                            </a>
                            <div class="media-body">
                                <h5>
                                    <a href="#">Curling irons are as individual as the women</a>
                                </h5>
                                <span>June 22, 2019</span>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!--<div class="col-md-6 col-lg-3 footer_widget">-->
                    <!--<div class="inner">-->
                        <!--<h4>Address</h4>-->
                        <!--<h5>Flat Pro, Inc.</h5>-->
                        <!--<p>649 Folsom Ave, Suite 400 <br>San Francisco, CA 63105 <br>P: (123) 456-7890</p>-->
                        <!--<h4>Newsletter</h4>-->
                        <!--&lt;!&ndash;<form action="#" class="nw_form">-->
                            <!--<input placeholder="Enter your email" type="email">-->
                            <!--<button><i class="fa fa-paper-plane"></i></button>-->
                        <!--</form>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-txt">
                        陕ICP备 18009909号 Copyright2020 西安秦食皇食品有限公司 版权所有
                    </div>
                </div>
                <!--<div class="col-lg-6 text-right">
                    <div class="footer-nav">
                        <a href="#">Home</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Pages</a>
                        <a href="#">Shortcode</a>
                        <a href="#">Blog</a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</footer>
</div>

<script src="{% static 'plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<!--<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>-->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/layui/layui.all.js' %}"></script>

<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<!--<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>-->
<script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.barfiller.js' %}"></script>
<script src="{% static 'js/vendor/loopcounter.js' %}"></script>
<script src="{% static 'js/vendor/slicknav.min.js' %}"></script>
<script src="{% static 'js/active.js' %}"></script>

<script>
    $(function(){
        //公共初始化
        <!--alert('I am footer.html页面的js');-->
        //$('#menu').on('click', 'ul li', function(){
            //移除所有li上的class=current-menu-item的样式
            //$('#menu').find('ul').find('li').each(function(){
            //    $(this).removeClass('current-menu-item');
            //});

            //$(this).addClass('current-menu-item');
        //});

        //移除所有li上的class=current-menu-item的样式
        //$('#menu').find('ul').find('li').each(function(){
        //    $(this).removeClass('current-menu-item');
        //    console.log(123);
        //});

        $('#menu').find('ul').find('li:eq({{index}})').addClass('current-menu-item');
    });
</script>

{% block script_tag %}
{% endblock %}

</body>
</html>