{% extends "layout.html" %}
{% load staticfiles %}

{% block header %}
    {% include "header.html" with title="社会责任详情" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<div>
    社会责任banner
</div>
{% endblock %}

{% block content %}
<div>
    社会责任
</div>
{% endblock %}


{% block footer %}
    {% include "footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
