{% extends "layout.html" %}
{% load staticfiles %}

{% block header %}
    {% include "header.html" with title="品牌产品" %}
    {% block style_tag %}
    <style>
    </style>
    {% endblock %}
{% endblock %}

{% block banner %}
<div>
    品牌产品banner
</div>
{% endblock %}

{% block content %}
<div>
    品牌产品
</div>
{% endblock %}


{% block footer %}
    {% include "footer.html" with footer="footer" %}
    {% block script_tag %}
    <script>
        $(function(){
        });
    </script>
    {% endblock %}
{% endblock %}
